footer
    hr
    ul
        li
            | Discussions: 
            a(href='https://groups.google.com/forum/#!forum/openwines') Google Group
        li
            | Twitter: 
            a(href='https://twitter.com/openwines') @openwines
        li
            | Organization: 
            a(href='https://trello.com/openwines') Trello
        li
            | Open Source: 
            a(href='https://github.com/openwines') Github
        li
            | www : 
            a(href='http://openwines.eu') openwines.eu
        li
            | @ : 
            a(href='mailto:hello@openwines.eu') hello@openwines.eu



