nav
    ul
        li
            a(href="/") Home
        li Pages
            ul
                each item in collections.pages
                    li
                        a(href="/#{item.path}")= item.title
    ul
        li Posts
            ul
                each item in collections.posts
                    li
                        a(href="/#{item.path}")= item.title

