//
// Footer
// --------------------------------------------------
footer {
    .list-inline {
        text-align: center;
        a {
            color: @ow-red;
            &:hover {
                color:  darken(@ow-red, 15%);
            }
        }
    }
}