//
// Header
// --------------------------------------------------
header {
    .navbar-default {
        background: @white;
        .box-shadow(0 0 0 2px rgba(0,0,0,.2));
        .navbar-brand {
            position: absolute;
            top: 0;
            left: auto;
            padding-top: 5px;
            .ow-logotype {
                color: @ow-green;
                font-size: 3.4em;
                background: @white;
                border: 2px solid @white;
            }
            .title-logotype {
                color: @ow-green;
                font-size: 2.2em;
                position: absolute;
                top: 12px;
                left: 90px;
                z-index: 2000;
                font-family: @font-family-ow;
                i {
                    > span {
                        font-size: 0.7em;
                        font-weight: 200;
                        > span {
                            font-weight: 400;
                        }
                    }
                }
            }
            small {
                position: absolute;
                top: 40px;
                left: 92px;
                width: 320px;
                font-weight: 300;
                color: @ow-gray;
            }
        }
        .navbar-nav>.active>a,
        .navbar-nav>.active>a:focus,
        .navbar-nav>.active>a:hover {
            border-top: 2px solid @ow-green;
            padding-top: 18px;
        }
        .dropdown {
            &.open {
                .caret {
                    border-top: inherit;
                    border-bottom: 4px dashed;
                }
            }
            &.flags-select {
                .dropdown-menu {
                    min-width: inherit;
                }
            }
        }
    }
}

//
// Responsive
// --------------------------------------------------
@media  (min-width: @screen-md-min) {
    .navbar-nav {
        > li {
            > a {
                font-size: 1.2em;
            }
        }
    }
}
@media  (min-width: @screen-sm-min) {
    body {
        &.background {
            .navbar-default {
                background-color: @white;
            }
        }
    }
    .navbar-nav {
        > li {
            > a {
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}
@media  (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    header {
        .navbar-default {
            .navbar-brand {
                small {
                    font-size: 0.8em;
                }
            }
            .nav {
                > li {
                    > a {
                        padding-left: 12px;
                        padding-right: 12px;
                    }
                }
            }
        }
    }
}
@media  (max-width: @screen-xs-max) {
    header {
        .navbar-default {
            .navbar-brand {
                padding-left: 12px;
                .ow-logotype {
                    font-size: 3em;
                }
                .title-logotype {
                    font-size: 2em;
                    left: 80px;
                    top: 16px;
                }
            }
            .navbar-toggle {
                &:focus,
                &:hover {
                    .icon-bar {
                        background-color: @white;
                    }
                }
            }
            .baseline {
                position: relative;
                left: 0;
                width: 100%;
                text-align: center;
                margin-top: 15px;
                color: @ow-gray;
            }
            .navbar-nav {
                > li {
                    small {
                        display: block;
                        padding-left: 15px;
                        font-style: italic;
                        font-size: 1em;
                    }
                    > a {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}